<h1 data-page-title>{{ title|default('Contacts') }}</h1>
<p class="lead">Choose a contact to open details.</p>
<ul class="contacts-list">
   {% for contact in contacts|default([]) %}
   <li>
      <a data-contact-link href="/contacts/{{ contact.id }}">
         {{ contact.firstName }} {{ contact.lastName }}
      </a>
   </li>
   {% endfor %}
</ul>
