<h1 data-page-title>{$title ?? 'Contacts'}</h1>
<p class="lead">Choose a contact to open details.</p>
<ul class="contacts-list">
   {foreach ($contacts ?? []) as $contact}
   <li>
      <a data-contact-link href="/contacts/{$contact->id}">
         {$contact->firstName} {$contact->lastName}
      </a>
   </li>
   {/foreach}
</ul>
